/* Seletores de tipo */
h1 {
    color: blue;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

/* Seletores de Classe */
.destaque {
    background-color: yellow;
    font-weight: bold;
}

/* Seletores de ID */
#importante {
    color: red;
    font-size: 18px;
}

/* Seletores Universais */
* {
    margin: 0;
    padding: 0;
}

/* Seletores de Atributo */
[data-custom="special"] {
    border: 2px solid green;
    padding: 10px;
}